TZ=America/New_York
PUID=901
PGID=901
UMASK_SET=002
nodeID=MainNode
serverIP=0.0.0.0
serverPort=8266
webUIPort=8265
internalNode=true
nodeID=MyInternalNode
NVIDIA_DRIVER_CAPABILITIES=all
NVIDIA_VISIBLE_DEVICES=all